{% extends 'back/base.html.twig' %}

{% block title %}

{% endblock %}
{% block body %}
    <div class="d-flex my-4">
        <a class="main-link my-auto me-3" href="{{ path('app_admin_user_index') }}">
            <i class="fa fa-arrow-left fa-2x"></i>
        </a>
        <h2>{{ 'back.pages.user.edit.title'|trans({'%user%': user.lastName }) }}</h2>
        {{ include('back/admin/pages/user/_delete_form.html.twig') }}
    </div>
    {{ include('back/admin/pages/user/_form.html.twig', {'button_label': 'Confirmer'}) }}




{% endblock %}