{% extends 'back/base.html.twig' %}

{% block body %}
 <h1>{{ 'back.pages.dashboard.title'|trans }}</h1>
 <div class="col-lg-6 col-md-12">
  <h3>{{ 'back.pages.dashboard.last_add'|trans }}</h3>
  <table class="table table-dark table-striped">
   <thead>
   <tr>
    <th>Nom</th>
    <th>Prix</th>
   </tr>
   </thead>
   <tbody>
   {% for nft in nfts %}
    <tr>
     <td>
      {{ nft.name }}

     </td>
     <td>
      {{ nft.currentValue }}
     </td>

    </tr>
   {% endfor %}
   </tbody>
  </table>
 </div>
 </div>

{% endblock %}
