{% extends 'front/base.html.twig' %}

{% block title %}
    Gemstone Haven
{% endblock %}

{% block leogout_seo %}
    <meta name="description"
          content="gemstonehaven.com : Nft  de pierres en ligne  ">
{% endblock %}

{% block body %}

{#    {% include 'front/partial/_flashes.html.twig' %}#}

    <h1 class="text-center"> Gemstone Haven</h1>

{#    <h2 class="mt-5 mb-4">{{ 'pages.home.title.nft'|trans }}</h2>#}

{#    <div class="row">#}
{#        {% for nft in nfts %}#}
{#            {% include 'front/partial/_nft_card.html.twig' with#}
{#                {#}
{#                    'nft': nft,#}
{#                }#}
{#            %}#}
{#        {% endfor %}#}
{#    </div>#}
{% endblock %}