<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="shortcut icon" type="image/jpg" href="{{ asset('images/icons/gemstone_haven.jpg') }}">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block title %}
            <div class="oval-container">
                <h2 class="oval-title">Administration</h2>
            </div>
        {% endblock %}

        {% block stylesheets %}
            {{ encore_entry_link_tags('back_styles') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('back_scripts') }}
        {% endblock %}
    </head>
    <body>
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12 admin-menu">
            {% block menu %}
                {% include 'back/admin/common/menu.html.twig' %}
            {% endblock %}
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12 container-fluid pe-4">
            {% block body %}
            {% endblock %}
        </div>
    </div>
    </body>
</html>
