{% extends 'front/base.html.twig' %}

{% block title %}Hello NftController!{% endblock %}

{% block body %}
    <div class="row">
        {% for nft in nfts %}
            <div class="card" style="width: 18rem;">
                <img src="{{ nft.image }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ nft.name }}</h5>
                    <p class="card-text">Date de création: {{ nft.dropAt|date('d/m/Y') }}</p>
                    <a href="{{ path('app_nft_show', {'slug': nft.slug}) }}" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
