

@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital@0;1&family=Cabin&display=swap');


$black: #000000;
$beige:#ECC998;
$yellow: #EFE564;
$dark: #494330;
$lightgray: #F5F5F5;
$gray: #444441;
$brown: #AC926C;
$white: white;
$bg-foot: #eee6d3;
$bg-footdark: rgb(112, 106, 94);
/*font*/
$text-font: 'cabin', arial, sans-serif;
$heading-font: 'arvo', 'abel', 'cursive';
$subtitle-font: 'Merienda One', 'roboto', serif;