{% extends 'front/base.html.twig' %}
{% block body %}
<body>
    <section id="who">

        <h2> Qui somme nous </h2>
        <hr>
        <br>
        <p>Bienvenue sur GEMSTONE HAVEN, une plateforme NFT qui met en vedette des pierres précieuses numériques
            uniques.
            Notre mission est de créer un espace où les amateurs de pierres précieuses peuvent explorer,
            collectionner et échanger des pierres précieuses numériques en toute sécurité et de manière
            transparente.
        </p>
        <p>Chez GEMSTONE HAVEN,Nous croyons que chaque pierre précieuse raconte une histoire unique et est un
            véritable
            chef-d'œuvre de la nature. C'est pourquoi nous avons créé cette plateforme pour permettre aux gens de
            posséder une pierre précieuse numérique unique et de la partager avec le monde. <br> Chaque pierre est
            vérifiée pour s'assurer de sa qualité et de son
            unicité.<br> Nos pierres précieuses numériques sont stockées sur la blockchain, ce qui garantit leur
            authenticité et leur propriété.Nous sommes impatients de vous
            offrir une expérience unique de collection de pierres précieuses numériques et de partager notre passion
            pour ces merveilles de la nature avec vous. N'hésitez pas à nous contacter si vous avez des questions ou
            des commentaires. <br>Merci d'avoir visité GEMSTONE HAVEN.
        </p>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est soluta placeat reprehenderit impedit
            doloremque nisi sunt non provident animi, ipsum ratione magnam fugit perferendis ad eum eaque nulla
            autem blanditiis.</p>
        <button class="btn-back" onclick="goBack()">Retour</a> </button>
    </section>
</body>
{% endblock %}