<header>
    <section id="head">
        <div class="top">
            <div class="logo">
                <a href="../pages/home.html.twig" target="_blank"> <img src="{{ asset('images/icons/logo.gif') }}" alt="logo"> </a>

            </div>
            <div class="title">
                <h1>GEMSTONE HAVEN </h1>
                <div>
                    <button class="login"><a href="connection.html" target="_blank"> Se connecter</a> </button>

                </div>
            </div>
        </div>
        <!--navbar-->
        <nav>
            <ul class="navbar navbar-index">
                <li><a href="{{ path('app_home') }}">Accueil</a></li>
                <li><a href="{{ path('about') }}">A propos</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li class="dropdown">
                    <a href="{{ path('app_category_index') }}" class="dropdown-toggle">Galeries</a>
                    <ul class='dropdown-menu'>
                        <li><a class="dropdown-item" href="collectionPR.html">Collection de pierres précieuses</a>
                        </li>
                        <li><a class="dropdown-item" href="collectionSemiP.html">Collection de pierres
                                semi-précieuses</a></li>
                        <li><a class="dropdown-item" href="collectiondivers.html">Divers</a></li>

                    </ul>
                </li>
                <li>
                    <form action="#" method="get">
                        <input type="text" placeholder="Recherche...">
                        <button type="submit">Rechercher</button>
                    </form>
                </li>
            </ul>

        </nav>
    </section>
</header>
